<!-- Begin Find Way-->
<section id="find-way" class="find-way">    
    

FAQs

Frequently Asked Questions about the Python For Women Meetup


Do we have to pay to attend this meetup?

No. This meetup is absolutely free

Is this meet up open for women working as Academic Faculty?

Yes. This workshop is open to all women irrespective of their professions. Women from Academia, students, teachers and faculty are welcome to attend.

Do you provide stay/accommodation?

No. This is a free 1 day meetup run by volunteers and hence, unfortunately, we are unable to provide free or paid accommodation

Is there any age limit to the participants?

No. Women of all ages can participate.

Can men attend this meetup?

The meetup is geared towards women in STEM. We do encourage  attendees with +1 guests to attend.
 

</section>
<!-- End Find Way -->
